<section class="row px-4 product">
    <div class="col-4 product_details">
        <div class="row">
            <figure class="col-4 product_img">
                <img class="img-cont" [src]=[item.img]  alt="...">
            </figure>
            <div class="col-9 product_info">
                <h4>{{itemName}}</h4>
                <p>{{item.type}}-{{item.conc}}</p>
            </div>
        </div>
    </div>
    <div class="col-4 product_quantity">
        <p class="text-center">{{item.quantity}} items</p>
    </div>
    <div class="col-4  product_price">
        <p class="text-right"> {{item.price}} EGP</p>
    </div>
</section>
