<section class="container-fluid sign-in">
    <section class="row align-items-center mb-5 sec-signin-cont-btn">
        <a routerLink='/sigIn' id="signIN-btn" class=" ml-auto">Sign In</a>
        <a routerLink='/signUp' id="signUP-btn" class="">Sign Up</a>
    </section>
    <div class="row signIn-section">
        <div class="col-12 col-md-11 col-lg-5 ml-auto">
            <div class="row mx-0 title">
                <h2>Save Your Account Now</h2>
                <h5>To receive our latest offers & discounts</h5>
            </div>
            <form action="" [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
                <section class="input-feild">
                    <input type="email" formControlName="email" placeholder="Email">
                    <img class="d-inline" src="../../assets/signUp/svg/envelope.svg">
                </section>
                <section class="input-feild">
                    <input type="password" formControlName="password" placeholder="Password">
                    <img class="d-inline" src="../../assets/signUp/svg/password.svg">
                </section>
                    <input type="checkbox" formControlName="pharmacyCheck" id="pharmacyCheck">
                    <label for="pharmacyCheck" class="mt-3">check if you are pharmacy</label>

                <span class="mesError"></span>
                <span class="mesError"></span>
                <button class="my-4" id="submit-btn" type="submit">Sign In</button>
            </form>
        </div>
    </div>
</section>