<footer class="footer">
    <section class="footer-inner">
        <section class="footer-inner_about">
            <h2 class="footer-inner_about-h2">about us</h2>
            <ul class="footer-inner_about-ul">
                <li><a>our history</a></li>
                <li><a>faq investors</a></li>
                <li><a>news and updates</a></li>
            </ul>
        </section>
        <section class="footer-inner_contact">
            <h2 class="footer-inner_contact-h2">contact us</h2>
            <ul class="footer-inner_contact-ul">
                <li><a>mempership</a></li>
                <li><a>employment</a></li>
                <li><a>donations</a></li>
            </ul>
        </section>
        <section class="footer-inner_help">
            <h2 class="footer-inner_help-h2">help</h2>
            <ul class="footer-inner_help-ul">
                <li><a>track order</a></li>
                <li><a>delivery & return</a></li>
                <li><a>student discount</a></li>
            </ul>
        </section>
        <section class="footer-inner_newsletter">
            <h2 class="footer-inner_newsletter-h2">Subscribe to our newsletter</h2>
            <form id="subscribe" [formGroup]="subscribeForm" (ngSubmit)="onSubmit(subscribeForm)">
                <input id="emailInput" type="text" formControlName="email" placeholder="Email Address">
                <button type = 'submit' [disabled]="subscribeForm.invalid">Subscribe</button>
                <span class="d-inline-block" data-toggle="popover" data-content="Disabled popover">
                    <button class="btn btn-primary" style="pointer-events: none;" type="button" disabled>Disabled button</button>
                </span>
            </form>
            <ul class="footer-inner_newsletter-ul">
                <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#" target="_blank"><i class="fab fa-google-plus-g"></i></a></li>
            </ul>
        </section>
    </section>
    <section class="footer-inner">
        <p>copyright &copy; medica 2020. all rights reserved.</p>
    </section>
</footer>