.sec-pharmOrders{
    height: 83.2vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.sec-pharmOrders::-webkit-scrollbar {
    width: 0px; /* remove scrollbar space */
    background: transparent; /* optional: just make scrollbar invisible */
}

.active-order{
    box-shadow: #e9e7e5 6px 7px 3px;
}

.sec-pharmOrders-orders app-pharm-small-order{
    margin-bottom: 1.1rem;
}

.sec-pharmOrders-orders app-pharm-small-order:last-child{
    margin-bottom: 0;
}
