.navbar{
    width: 100%;
    position: fixed;
    z-index: 100;
    &-nav{
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        
        &_left, &_mid, &_right{
            width: 30%;

            ul{
              width: 100%;
              display: flex;
              align-items: center;  
            }
        }
    }
}

ul{
    li{
        list-style: none;
        margin-right: 2rem;
        
        a{
            text-decoration: none;
            text-transform: capitalize;
        }
    }
    li:last-child{
        margin-right: 0rem;
    }
}