.modal-header{
    border: none;
    height: 15px;
}

.warning-icon i {
    font-size: 5rem;
    color: #ffc401;
}

.modal-body{
    border: none;
}

.modal-footer{
    border: none;
    width: 80%;
    margin: 0 auto;
    justify-content: space-evenly;
}

.btn-primary {
    background-color: #ffc401;
    color: #fff;
}

.btn-secondary{
    background-color: transparent;
    color: #ffc401;
}

.btn-primary, .btn-secondary {
    border: 2px solid #ffc401;
    text-transform: capitalize;
    border-radius: 3px;
}