    <div class="row px-3 marginRight">
        <div class="col-12 sec-smallOrder">

            <!-- order id and button -->
            <div class="sec-smallOrder-upperCont d-flex justify-content-between align-items-center mb-3">
                <span class="sec-smallOrder-upperCont-id">#{{orderId}}</span>
                <button (click) = 'showOrderDetails($event)'>view order</button>
            </div>

            <!-- date, time and address -->
            <div class="sec-smallOrder-lowerCont mb-2 d-flex align-items-center">
                <img src="../../assets/pharmDashboardIcones/dateIcon.svg" alt="" class="mr-2">
                <span>{{dateTimeStr}}</span>
            </div>
            <div class="sec-smallOrder-lowerCont d-flex align-items-center" *ngIf = 'order["status"]'>
                <img src="../../assets/pharmDashboardIcones/addressIcon.svg" alt="" class="mr-2">
                <span>{{order['userAddress']}}</span>
            </div>

        </div>
    </div>
