<div class="container sec-cart" *ngIf='itemsInCart[0] || roshettaDetails else elseBlock'>
  <div class="row col-12 sec-cart-header">
    <h2>Cart</h2>
    <p>Total items : {{counter}}</p>
  </div>

  <!-- ----------schedule--------- -->
  <form [formGroup]="scheduleForm">
    <section class="custom-control custom-checkbox w-100 row schedule-item">
      <mat-checkbox class="" id="scheduleCheck1" #scheduleCheck2 (change)="scheduleChecked($event)"
        [checked]= scheduleCheckStatus>Click here if you
        want to make this order schedule </mat-checkbox>
    </section>
    <section class="scheduleArea pb-3 ml-3" *ngIf="scheduleCheck2.checked">
      <section id="datepickerArea" class="row mt-3">
        <input matInput [matDatepicker]="picker" formControlName="calendar" class="width-0 border-0"
          (dateChange)="changeDate($event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker  #picker></mat-datepicker>
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn active">
          <input type="radio" formControlName="schedule" id="weeklyCheck" autocomplete="off" value="week"
            (click)="changeShedule($event)"> weekly
        </label>
        <label class="btn">
          <input type="radio" formControlName="schedule" id="twoWeeksCheck" autocomplete="off" value="twoWeeks"
            (click)="changeShedule($event)"> 2 weeks
        </label>
        <label class="btn">
          <input type="radio" formControlName="schedule" id="monthlyCheck" autocomplete="off" value="month"
            (click)="changeShedule($event)"> monthly
        </label>
      </div>
    </section>
    </section>
  </form>

  <div *ngFor="let item of itemsInCart" class="row col-12 sec-cart-item">
      <mat-checkbox class=" select" [checked]= item.scheduleDetails id="{{item.id}}" 
        (change)="addProductToScheduleList($event)" *ngIf="scheduleCheck2.checked">
      </mat-checkbox>
    <div class="col col-6 col-sm-5 col-md-3"><img class="w-100 img-cont"  [src]=[item.img]   alt=""></div>
    <div class="col col-10 col-sm-7 col-md-3">
      <h3>
        <a [routerLink]="['/product',item.id]">{{item.name}}</a>
      </h3>
      <p>{{item.type}} - {{item.conc}}</p>
    </div>
    <div class="col col-6 col-sm-6 col-md-2">
      <app-quantity [item]='item'></app-quantity>
    </div>
    <div class="col col-6 col-sm-6 col-md-3">
      <app-cancelfromcart [item]='item'></app-cancelfromcart>
      <p>{{item.price * item.quantity}} EGP</p>
      <span> {{item.price}} EGP/ ITEM</span>
    </div>
  </div>


  <div class="row col-12">
    <div class="col-12 sec-cart-total py-0">
      <h6 class="">Total price does not include the Roshetta</h6>
      <p>total Price: <span>{{totalPrice}} EGP</span></p>
    </div>
  </div>


  <div class="row w-100" *ngIf="roshettaDetails">
    <mat-checkbox class="select col-1" (change)="addRoshettaToScheduleList($event)"
      *ngIf="(scheduleCheck2.checked && roshettaDetails)" [checked] = 'roshettaScheduleStatus'>
    </mat-checkbox>
    <app-roshetta-details class="col-11"></app-roshetta-details>
    <section class="row">
      <img class="ml-auto cursor w-100" (click)="deletRoshetta()" src="../../assets/order summary/svg/Layer 22.svg">
  </section>
  </div>
 <button class="btn btn-primary checkbtn" routerLink="/order-summery" (click)="checkOutClick()">CheckOut</button>
</div>

<!---------------- emptyCArt Block--------------->
<ng-template #elseBlock>
  <div class="emptyCart">
    <div>
      <h2>Your Cart Is Empty</h2>
      <p>Start adding Products & enjoy our offers</p>
    </div>
    <img src="../../assets/Cart/png/Group 3180.svg" alt="">
    <a class="checkbtn" routerLink="/products/medicine">Shop Now</a>
  </div>
</ng-template>
