<<<<<<< HEAD
.width-0{
    width: 0;
}
.height-100px{
    height: 100px;
}
.width-85px{
    width: 85px;
}

.gray-color {
    color: #A3A3A3;
}

.cursor:hover{
    cursor: pointer;
=======
.w-0{
    width: 0;
>>>>>>> mohamed
}