<div class="container">
  <div class="row">
    <app-item-small *ngFor="let item of itemsInCart" [item]='item' class="col-8"></app-item-small>
    <div class="col-4">
      <form action=""[formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
        <section class="input-feild">
          <input class="" formControlName="address" placeholder="Enter Yor Adress">
          <span>@</span>
        </section>
        <p *ngIf="myForm.get('address').hasError('required') && myForm.get('address').touched">
          *Required.
        </p>
        <section class="input-feild">
          <input class="" formControlName="phone" placeholder="Enter Yor Phone number">
          <span>@</span>
        </section>
        <p *ngIf="myForm.get('phone').hasError('required') &&  myForm.get('phone').touched">
          *Required.
        </p>
        <p *ngIf=" myForm.get('phone').hasError('pattern') && myForm.get('phone').touched">
          *min length 11.
        </p>
        <button class="btn btn-primary"  id="submit-btn" type="submit" >CheckOut</button>
      </form>
    </div>
  </div>
</div>

