.card{
    margin-bottom:35px;
    box-shadow: 1px 6px 18px -11px grey;
    border: none;
<<<<<<< HEAD
=======
    height: 93%;
>>>>>>> mohamed
}
.card-body{
    display: flex;
    flex-direction: column;
<<<<<<< HEAD
=======
    justify-content: space-between;
    
>>>>>>> mohamed
}
.card-body div:nth-of-type(1){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 0;
}

.card-body div:nth-of-type(1) .childone{
    width: 70%;
}
.card-body div:nth-of-type(1) .childtwo{
width: 30%;
}
.card-body div:nth-of-type(1) a{
    font-size: 1.5rem;
    color: black;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0;
}

.card-body div:nth-of-type(1) p.card-text{
    font-size: 1.2rem;
}
.card-body div:nth-of-type(1) p.card-title{
    margin-bottom: 0;
}
.card-body div:nth-of-type(2){
    padding-bottom: 10px;
}
.card-body div:nth-of-type(2) p{
    font-size: 1.1rem;
    color: gray;
    margin-bottom: 0;
    text-transform: capitalize;
}


app-btntocart{
    align-self: center;
}