<a class="roshetastyle" type="button" data-toggle="modal" data-target="#exampleModalCenter">
    UploadRosheta
</a>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-0 m-3 ">
                <h5 class="modal-title font-weight-bold" id="exampleModalLongTitle">Order with Roshetta</h5>
                <!-- <button type="button" class="close close-btn p-0" data-dismiss="modal" aria-label="Close">
                   &times;
                </button> -->
                
        <img class="ml-auto cursor close" data-dismiss="modal" aria-label="Close" src="../../assets/order summary/svg/Layer 22.svg">
            </div>
            <div class="modal-body">
                <form [formGroup]="roshettaForm ">
                    <section id="imageUpload" class="input-feild w-75 m-auto bgColor-gray">
                        <!-- <i id="imageIcon" class="fas fa-camera">{{roshettaImageName}}</i> -->
                        <button class="plus-btn px-4">+</button>
                        <div class="text-truncate d-inline-block roshettaImageName pl-2">{{roshettaImageName}}</div>
                        <input class="w-100" type="file" formControlName="roshettaImage" (change)="readURL($event)" id="uploadRoshetta">
                    </section>
                    <p *ngIf="roshettaForm.get('roshettaImage').hasError('required')" class="messError ml-5"></p>
                    <p *ngIf="roshettaForm.get('roshettaImage').hasError('pattern')" class="fileError ml-5"></p>
                    <section class="input-feild border-bottom pb-3 pt-3 w-75 m-auto">
                        <textarea type="text" class="w-100 border-0" formControlName="roshettaNotes"
                            placeholder="Additional Notes" id="additionalNotes" rows="1"></textarea>
                    </section>
                    <div class="pb-3 pt-3 w-75 m-auto d-flex justify-content-around">
                        <button type="button" class="continue-btn btn" (click)="saveRoshetta(roshettaForm, $event)">continue shopping</button>
                        <button type="submit" class="submit-btn btn" (click)="saveRoshetta(roshettaForm, $event)" (click)='routToCheckOut(roshettaForm)'>checkout</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>