<a type="button" data-toggle="modal" data-target="#exampleModalCenter">
    <i class="fas fa-camera"></i>
</a>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title" id="exampleModalLongTitle">Order with Roshetta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="roshettaForm ">
                    <section id="imageUpload" class="input-feild border-bottom pb-3 pt-3 w-75 m-auto">
                        <i id="imageIcon" class="fas fa-camera">{{roshettaImageName}}</i>
                        <input class="w-100" type="file" formControlName="roshettaImage" (change)="readURL($event)" id="uploadRoshetta">
                    </section>
                    <p *ngIf="roshettaForm.get('roshettaImage').hasError('required')" class="messError ml-5"></p>
                    <p *ngIf="roshettaForm.get('roshettaImage').hasError('pattern')" class="fileError ml-5"></p>
                    <section class="input-feild border-bottom pb-3 pt-3 w-75 m-auto">
                        <textarea type="text" class="w-100 border-0" formControlName="roshettaNotes"
                            placeholder="Additional Notes" id="additionalNotes" rows="1"></textarea>
                    </section>
                    <div class="pb-3 pt-3 w-75 m-auto">

                        <button type="button" class="btn border" (click)="saveRoshetta(roshettaForm, $event)">continue shopping</button>
                        <button type="submit" class="btn border" routerLink="/order-summery" (click)="saveRoshetta(roshettaForm, $event)">checkout</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>