ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 0;
}
li{
    margin: 0 5px;
    font-size: 1.2rem;
    font-weight: 600;
}
li button{
    font-size: 1.2rem;
    font-weight: 600;
    padding: 2px 10px;
    background-color: #Ffc401;
    color: white;
    border: none;
}