<section class="container-fluid sign-up ">
    <section class="row align-items-center mb-5 sec-signin-cont-btn">
        <a routerLink='/sigIn' id="signIN-btn" class=" ml-auto">Sign In</a>
        <a routerLink='/signUp' id="signUP-btn" class="">Sign Up</a>
    </section>
    <div class="row signUp-section">
        <!-- <div class="col-7 h-100"><img class="img-fluid" src="../../assets/signup/signup.svg" alt=""></div> -->
        <div class="col-12 col-md-8 col-lg-5  ml-auto">
            <div class="row mx-0 title">
                <h2>Save Your Account Now</h2>
                <h5>To receive our latest offers & discounts</h5>
            </div>
            <!-- <label id="sinIn-Lbl">Sign In</label>
            <a routerLink='/signUp' id="signUP-btn">Sign Up</a> -->
            <form action="" [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">

                <section class="input-feild">
                    <input class="" formControlName="userName" placeholder="Name">
                    <img class="d-inline username-icon" src="../../assets/signUp/noun_profile_956123.svg">
                </section>
                <p class="mesError"
                    *ngIf="myForm.get('userName').hasError('required') && myForm.get('userName').touched">
                    *Required.
                </p>
                <p class="mesError"
                    *ngIf="myForm.get('userName').hasError('minlength')&& myForm.get('userName').touched">
                    *Name must be 3 character at least.
                </p>
                <section class="input-feild">
                    <input type="email" formControlName="email" placeholder="Email">
                    <img class="d-inline" src="../../assets/signUp/svg/envelope.svg">
                </section>
                <p class="mesError" *ngIf="myForm.get('email').hasError('required') && myForm.get('email').touched">
                    *Required
                </p>
                <p class="mesError" *ngIf="myForm.get('email').hasError('pattern') && myForm.get('email').touched">
                    *Invalid email(example@gmail.com)
                </p>
                <section class="input-feild">
                    <input type="password" formControlName="password" placeholder="Password">
                    <img class="d-inline" src="../../assets/signUp/svg/password.svg">
                </section>
                <p class="mesError"
                    *ngIf="myForm.get('password').hasError('required') && myForm.get('password').touched">
                    *Required
                </p>
                <p class="mesError"
                    *ngIf="myForm.get('password').hasError('pattern') && myForm.get('password').touched">
                    *minimum length:8, contain (capital and small letter, number and special character)
                </p>
                <section class="input-feild">
                    <input type="password" formControlName="passwordConfirm" placeholder="Confirm password">
                    <img class="d-inline" src="../../assets/signUp/svg/password.svg">
                </section>
                <p class="mesError" *ngIf="myForm.get('passwordConfirm').hasError('mustMatch')">Passwords must match</p>
                <p class="mesError"
                    *ngIf="myForm.get('passwordConfirm').hasError('required') && myForm.get('passwordConfirm').touched">
                    *Required
                </p>
                <input type="checkbox" id="checkInsurance" formControlName="checkInsurance" #checkInsurance>
                   
                <label  class=" pt-0" for='checkInsurance'>check if you have insurance</label> 
                

                <section class="insuranceArea" *ngIf="checkInsurance.checked">
                    <section class="input-feild">
                        <input class="mt-0" type="text" formControlName="insuranceNum" placeholder="Enter your insurance number" />
                        <img class="d-inline" src="../../assets/signUp/svg/id.svg">
                    </section>
                    <p class="mesError" *ngIf="myForm.get('insuranceNum').hasError('pattern')&&  myForm.get('insuranceNum').touched">
                        *must be numbers
                    </p>
                    <section class="input-feild" id="insuranceContainer">
                        <input disabled placeholder="Upload your insurance photo" >
                        <img class="d-inline" src="../../assets/signUp/svg/camera.svg">
                        <input class="w-100" id="insuranceImage" type="file" (change)="readURL($event)">
                    </section>
                </section>
                <span class="mesError"></span>
                <span class="mesError"></span>
                <button class="my-4" id="submit-btn" type="submit">Sign Up</button>

            </form>
        </div>
    </div>
</section>