button{
    background-color: #ffc401;
    color: white;
    padding: 10px 22px;
    border-radius: 4px;
    border: none;
    box-shadow: 2px 4px 5px -4px grey;
}
button:hover{
    background-color: #be9303;
    transition: 1s;
    color: white;
}