.cont{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.searchInput{
    text-align: center;
}
.searchInput input{
    height: 30px;
    width: 300px;
}
.sideFilter{
    min-width: 200px;
}