<section class="container-fluid sec-products">
    <div class="row">
        <ul class="category row col-11 mt-5 mb-3 d-flex flex-row justify-content-around text-center">
            <li class="list-group-item col-4 col-md-3 col-lg-2" routerLinkActive="activeCategory" (click) ='onCheck(checkedInput)' *ngFor="let cat of category">
                <div class="category-wrapper" [routerLink]="['/products',cat]">
                    <img class="w-100 d-none d-md-block" src="../../assets/pharmDashboardIcones/abovePharmName.svg" alt="">
                    <p>{{cat}}</p>
                </div>
            </li>
        </ul>
    
        <ul *ngIf="newCategory" class="subCategory row col-11 my-3 ml-5 text-center">
            <li class="list-group-item col-5 col-sm-4 col-md-3 col-lg-2"  (click) ='onCheck(checkedInput)' *ngFor="let sCat of subCatObj[newCategory]"  routerLinkActive="activeSubCategory"> 
                <p [routerLink]="[sCat]">{{sCat}}</p></li>
        </ul>
    </div>

<!-- --------------sort-------------------- -->
<div class="row dropdown sort d-flex flex-row-reverse my-3 mr-5">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        SortBy
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item"> 
                <input type="radio" name="sort" value="1" id="radio1"
                (click)="sortByPriceLowToHigh(listOfProducts)" (click)="filterGeneration(newArr)"
                (click)="onCheck(checkedInput)" style="visibility: hidden;"> 
                <label for="radio1">Price low to high</label>
              </a>
        <a class="dropdown-item">
                <input type="radio" name="sort" value="2" id="radio2"
                (click)="sortByPriceHighToLow(listOfProducts)" (click)="filterGeneration(newArr)"
                (click)="onCheck(checkedInput)" style="visibility: hidden;"> 
                <label for="radio2">Price hight to low </label>
                </a>
        <a class="dropdown-item"> 
                <input type="radio" name="sort" value="3" id="radio3"
                (click)="sortByALowToHigh(listOfProducts)" (click)="filterGeneration(newArr)"
                (click)="onCheck(checkedInput)" style="visibility: hidden;">
                <label for="radio3">A to Z</label>
                </a>
        <a class="dropdown-item"> 
                <input type="radio" name="sort" value="4" id="radio4"
                (click)="sortByAHighToLow(listOfProducts)" (click)="filterGeneration(newArr)"
                (click)="onCheck(checkedInput)" style="visibility: hidden;">
                <label for="radio4">Z to A</label>
                </a>
    </div>
</div>

<section class="row mb-5 d-flex justify-content-spacebet">
    <section class="filters col-4 col-md-3  col-lg-2 d-none d-md-block ">
        <div class="filter_tital">
            <h2>Filters</h2>
        </div>
        <!-- ---------------priceRang------------------ -->
            <section class="price" *ngIf="newArr.length>0">
                <h2>price Range</h2>
                <div class="slidecontainer">
                    <input #priceRangInput type="range" min="1" max={{maxPrice}} value={{maxPrice}} class="slider"
                        id="myRange" (input)="getPrice(priceRangInput)">
                    <p>Max price: <span id="priceValue" *ngIf="outputValue"> {{outputValue}} </span> <span id="priceValue"
                            *ngIf="!outputValue">{{maxPrice}}</span></p>
                </div>
            </section>
            <!-- ---------------types_filter--------------- -->
            <div *ngIf="typeFilterArray.length>0">
                <div class="type_filter mb-5">
                    <h2>Types</h2>
                    <div *ngFor="let element of typeFilterArray">
                        <input #typeElement type="checkbox" id="{{element}}" class="checkedInput" value="{{element}}"
                            name="type" (click)="onCheck(typeElement)">
                        <label for="{{element}}"> {{element}} </label>
                    </div>
                </div>
            </div>
            <!-- ---------------brand_filter--------------- -->
            <div *ngIf="newCategory!='medicine'">
                <div *ngIf="typeFilterArray.length>0">
                    <div class="brand_filter mb-5">
                        <h2>Brands</h2>
                        <div *ngFor="let element of brandFilterArray">
                            <input #brandElement class="checkedInput" type="checkbox" id="{{element}}"
                                value="{{element}}" name="brand" (click)="onCheck(brandElement)">
                            <label for="{{element}}"> {{element}} </label>
                        </div>
                    </div>
                </div>
            </div>
        
         </section>
        <!-- ----------------------products----------------------------------- -->
        <section class="products w-100 cont mat-elevation-z9 col-7 col-md-8  justify-content-around  mx-auto">
                <div class="cont row w-100">
                    <app-item class="col-12  col-md-6 col-lg-4 mx-auto" *ngFor="let item of pageOfItems" [item]="item"></app-item>
                </div>
                <div class="pagination row card-footer pb-0 pt-3">
                    <jw-pagination [items]="listOfProducts" (changePage)="onChangePage($event)" [pageSize]="9">
                    </jw-pagination>
                </div>
        </section>
    </section>
</section> 