// side nav style
// ----------------------------------------------------------------------------

.sec-pharmView{
    background-color: #f9f5f1;
    height: 100vh;

    &-nav{
        box-shadow: #e6e2de 3px -1px 3px;
        height: 100vh;

        &-logo{
            border-radius: 50%;
            width: 62.5%;
            background-color: #fff;
            padding: 31.25% 0;
            height: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 4rem;

            &-container{
                text-align: center;
            }

            &-head{
                text-transform: uppercase;
                color: #01807b;
                font-size: 1.1rem;
                font-weight: bolder;
                letter-spacing: 3px;
            }
        }

        ul {
            width: 100%;

            li {
                list-style: none;
                text-align: center;
                width: 100%;
            }

            a{
                text-transform: capitalize;
                color: #05a19c;
                font-size: 1.1rem;
                text-decoration: none;

                img {
                    display: block;
                    margin: 0 auto 0.5rem auto;
                }
            }
        }
    }
}

.active-link{
    border-left: 5px solid #Ffc401;
    padding: 0.5rem 0;
    background-color: #f3ebe3;
}



// ----------------------------------------------------------------------------
// upper nav style
// ----------------------------------------------------------------------------

.sec-pharmView-upperNav{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}