<section class="container-fluid sec-pharmView">
    <div class="row">
        <!-------------------- side nav -------------------->
        <nav class="col-2 sec-pharmView-nav pt-5 px-0">
            <div class="sec-pharmView-nav-logo mx-auto">
                <div class="sec-pharmView-nav-logo-container">
                    <img src="https://c.top4top.io/p_1514un5i21.png" alt="pharmedica logo">
                    <h1 class="sec-pharmView-nav-logo-head">{{pharmObj.userName}}</h1>
                </div>
            </div>
            <ul>
                <li routerLinkActive="active-link" class="mb-3">
                    <a routerLink="/pharmview/pending">
                            <img src="" alt="">
                                pending orders
                    </a>
                </li>
                <li routerLinkActive="active-link" class="mb-3">
                    <a routerLink="/pharmview/inprogress">
                            <img src="" alt="">
                                in progress orders
                    </a>
                </li>
                <li routerLinkActive="active-link" class="mb-3">
                    <a routerLink="/pharmview/orders">
                            <img src="" alt="">
                                complete orders
                    </a>
                </li>
                <!-- <li routerLinkActive="active-link" class="mb-3">
                    <a routerLink="">
                            <img src="" alt="">
                                statistics
                    </a>
                </li> -->
            </ul>
        </nav>
        <!-------------------- order side -------------------->
        <div class="col-10">
            <!-------------------- upper nav -------------------->
            <div class="row px-3 mb-3">
                <div class="col-12 sec-pharmView-upperNav py-4">
                    <a routerLink="/"><img src="https://c.top4top.io/p_15142rqlg1.png" alt="home page"></a>
                </div>
            </div>
            <div class="row px-3 py-0 m-0">
                <!-- orders view or statistics view -->
                <div class="col-12 p-0">
                    <app-pharm-orders></app-pharm-orders>
                </div>
            </div>
        </div>
    </div>
</section>