app-search-bar-in-home{
    margin: auto;
}
a{
    text-decoration: none;
    color: black;
    text-transform: capitalize;
}

h2{
    padding-bottom: 30px;
    font-size: 2.9rem;
    font-weight: 600;
}
h4{
    font-size: 1.3rem;
    padding-bottom:10px;
    font-weight: 600;;

}

.carousel{
    height: 90vh;
}
.feat-sec .row{
    margin: auto;
    justify-content: center;
}


.feat-sec-wrapper-container{
    text-align: center;
    box-shadow: 0px 6px 15px -12px;
    padding: 20px;
    
    
}

.feat-sec{
    padding-bottom: 11rem;
}
.feat-sec-wrapper-container-img{
    padding-bottom: 20px;
}

.feat-sec-wrapper-container p {
    line-height: 1.7;
    font-size: 1.1rem;
}






//////////////////secCategory
//////////////////secCategory
//////////////////secCategory

.sec-category{
    text-align: center;
    padding-bottom: 11rem;
}

.sec-category-wrapper{
    text-align: center;
    margin: 0 auto;
    justify-content: center;

}

.sec-category-wrapper .row{
    margin: 0 auto;
    justify-content: center;
}


.sec-category-wrapper-img{
    padding-bottom: 25px;
}

.sec-category a {
    font-weight: 600;
    letter-spacing: 1.1px;
}


////////////offers
////////////offers
////////////offers

.sec-offers{
    padding-bottom: 11rem;
    padding-top: 11rem;
}
.sec-offers-wrapper{
    justify-content: center;
    margin: 0 auto;
}

.sec-offers-wrapper-cont{
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

/* .sec-offers-wrapper-cont h2{
    font-size: 2.9rem;
    font-weight: 600;
} */
.sec-offers-wrapper-cont p{
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 75px;
}

.sec-offers-wrapper-cont a{
    font-size: 1.3rem;
    font-weight: 600;
    background-color: orange;
    color: white;
    padding: 15px 45px;
    border-radius: 4px;
}




//////////////partners
//////////////partners
//////////////partners

.sec-partners{
    padding-bottom: 11rem;
    text-align: center;
}

.sec-partners-wrapper{
    justify-content: center;
    margin: 0 auto;
}

.sec-partners-wrapper-cont{
    color: gray;
}

.sec-partners-wrapper-cont h4{
    letter-spacing: 1.8px;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.sec-partners-wrapper-cont .sec-partners-wrapper-img{
    padding-bottom: 5px;
    
}






