app-search-bar-in-home{
    margin: auto;
}
a{
    text-decoration: none;
    color: black;
    text-transform: capitalize;
}

h2{
    padding-bottom: 30px;
    font-size: 2.9rem;
    font-weight: 600;
    margin-bottom: 4rem;
}
h2::after{
    display: block;
    height: 3px;
    width: 11%;
    margin: 0px 3px;
    margin-top: 20px;
    background-color: #ffc401;
    content: " ";
    -webkit-box-pack: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
h4{
    font-size: 1.3rem;
    padding-bottom:10px;
    font-weight: 600;;

}



///////carosul

.carousel-sec{
    height: 100vh;

    img{
        height: 100vh;
    }
    

}

.carousel-indicators li{
    background-color: #01807b;
    width: 50px;
    height: 6px;
    margin-right: 15px;
    margin-left: 15px;
    border-radius:11px;
}


.carousel-caption{
    position: absolute;
    right: 56%;
    top: 32%;
    bottom: 0px;
 
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #050505;
    text-align: start;
    font-size: 1.7rem;
    width: 34%;

    h5{
        color: #01807b;
        font-size: 3rem;
        font-weight: 600;
        margin-bottom: 0;
        padding-bottom: 10px;
    }
    p{
        font-size: 1.4rem;
        margin-bottom: 30px;
    }
    a{
        font-size: 1.3rem;
        font-weight: 600;
        background-color: orange;
        color: white;
        padding: 15px 45px;
        border-radius: 4px;
        
    }

}









////////////feat

.feat-sec .row{
    margin: auto;
    justify-content: center;
}


.feat-sec-wrapper-container{
    text-align: center;
    box-shadow: 0px 6px 15px -12px;
    padding: 20px;
    
    
}

.feat-sec{
    padding-top: 11rem;
    padding-bottom: 11rem;
}
.feat-sec-wrapper-container-img{
    width: 40%;
    margin: 0 auto;
    padding: 40px 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        z-index: 5;
    }
}
.feat-sec-wrapper-container-img-circle{
    position: absolute;
    width: 160%;
    height: 87%;
    border-radius: 50%;
    background-color: #F9F5F1;
}

.feat-sec-wrapper-container p {
    line-height: 1.7;
    font-size: 1.1rem;
}
.feat-sec-wrapper-container{
    h4{
        color: #01807b;
        margin-top: 20px;
    }
}






//////////////////secCategory
//////////////////secCategory
//////////////////secCategory

.sec-category{
    text-align: center;
    
}

.sec-category-wrapper{
    text-align: center;
    margin: 0 auto;
    justify-content: center;

}

.sec-category-wrapper .row{
    margin: 0 auto;
    justify-content: center;
}


.sec-category-wrapper-img{
    padding-bottom: 25px;
}

.sec-category a {
    font-weight: 600;
    letter-spacing: 1.1px;
}


////////////offers
////////////offers
////////////offers

.sec-offers{
    padding-bottom: 9rem;
    padding-top: 9rem;
    margin:11rem 0 ;
    background-image: url(../../assets/Home/PNG/MaskGroup7.png);
    background-size: cover;
    background-position: right;
}
.sec-offers-wrapper{
    justify-content: center;
    margin: 0 auto;
}

.sec-offers-wrapper-cont{
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

/* .sec-offers-wrapper-cont h2{
    font-size: 2.9rem;
    font-weight: 600;
} */
.sec-offers-wrapper-cont p{
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 75px;
}

.sec-offers-wrapper-cont a{
    font-size: 1.3rem;
    font-weight: 600;
    background-color: orange;
    color: white;
    padding: 15px 45px;
    border-radius: 4px;
}




//////////////partners
//////////////partners
//////////////partners

.sec-partners{
    padding-bottom: 11rem;
    text-align: center;
}

.sec-partners-wrapper{
    justify-content: center;
    margin: 0 auto;
}

.sec-partners-wrapper-cont{
    color: gray;
    img{
        width: 55%;
    }
    margin:0 auto
}

.sec-partners-wrapper-cont h4{
    letter-spacing: 1.8px;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.sec-partners-wrapper-cont .sec-partners-wrapper-img{
    padding-bottom: 5px;
    
}






